.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chat-container{
    background-color: #bbd;
    width: 50%;
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

.chat-history{
    background-color: white;
    width: 80%;
    height: 70%;
}

.input-area{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.input{
    width: 80%;
}